NODE_ENV=development

MAIN_SERVICE_PORT=3000
ECOMMERCE_SERVICE_PORT=3001

DATABASE_URL=postgresql://admin:root@localhost:5432/codewave

JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_QUEUE=autocare_events
